.galleryMain{
    width: fit;
    position: relative;
    overflow-x: scroll !important;
  
display: flex;
margin: 10px;
flex-wrap: nowrap;
}
.galleryMain .galleryimage{
    position: relative;
    margin: 20px;
 
    width: 600px ;
    height: 700px;
background-position: center;
background-size: cover;
opacity: 1;
}
.galleryMain .galleryimage:hover{

opacity: 0.7 ;
}



.Hover{
   z-index: -1;
   width: 600px ;
   height: 700px;
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
background-color: rgba(165, 42, 42, 0.495);

}
.galleryMain .galleryimage:hover .Hover {

    opacity: 1;
}
@media (max-width:700px) {
    .galleryMain .galleryimage img{
        margin: 15px;
    width: 200px;
    height: 160px;
   
    }
}